.git
.gitattributes
.gitignore
.github

.env
.env.*
!.env.example

.ai
.claude
.mcp.json
.editorconfig
.npmrc
AGENTS.md
CLAUDE.md
README.md

node_modules
vendor
public/build
public/hot
public/storage

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

tests
.phpunit.result.cache
.phpunit.cache

.idea
.vscode
.nova
.zed
.codex
.cursor

Dockerfile
docker-compose*.yml
.dockerignore
